<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TelegramToken" value="1423387546:AAFEkcaSWdgie-yRKo6OAo2fudO90FT1iJA" />
    <add key="TelegramChatId" value="-402396900" />
    <add key="LUISURL" value="https://languageunderstandinboth.cognitiveservices.azure.com/luis/prediction/v3.0/apps/fec9a300-70ef-47c9-808d-62f64bee2c94/slots/production/predict?subscription-key=57c22f63f16347338669b1d35657941c&amp;verbose=true&amp;show-all-intents=true&amp;log=true&amp;query=" />
    <add key="Precision" value="0.7" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="BindingChatBot">
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8083/wcfChatBot.svc" behaviorConfiguration="EndPointBehaviorChatBot" binding="webHttpBinding" contract="srProxy.IwcfChatBot" bindingConfiguration="BindingChatBot" name="EndPointChatBot" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehaviorChatBot">
          <webHttp defaultBodyStyle="Wrapped" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>