<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db" providerName="MsSql" connectionString="Server=192.168.100.219;Initial Catalog=att2000;User Id=sa;Password=Admin.123;" />
  </connectionStrings>
  <appSettings>
    <add key="duration_work" value="480" />
    <add key="end_time_50" value="23:59:59" />
    <add key="start_time_100" value="00:00:00" />
    <add key="end_time_100" value="06:00:00" />
    <add key="start_overtime" value="True" />
    <add key="start_overtime_time" value="01:00:00" />
    <add key="end_overtime" value="True" />
    <add key="end_overtime_time" value="01:00:00" />
    <add key="start_time_25" value="19:00:00" />
    <add key="end_time_25" value="06:00:00" />
    <add key="unity" value="M" />
    <add key="duration_lunch" value="60" />
    <add key="weekend" value="True" />
    <add key="serial" value="RABFAFMASwBUAE8AUAAtADcAMQBPADYAQQA1AFQAWwAyADAAMgAwAC0AMAA3AC0AMQA2ACAAMgAzADoANQA5ADoANQA5AA=" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
